<div class="wrapper1" [ngClass]="{collapse1:status===true}">
    <div class="sidebar1">
        <ul>
            <li><a routerLink="/main-page/display-area/all">
                    <i class="bi bi-house-door-fill"></i>
                    <span class="title1">All</span>
                </a></li>
            <li *ngFor="let tag of Tags">
              <a routerLink="/main-page/display-area/{{tag.label}}">
                <i class="{{tag.icon}}"></i>
                <span class="title1">{{tag.label}}</span>
              </a>
            </li>
            <li><a >
                  <i class="bi bi-geo-alt-fill"></i>
                  <span class="title1">Maps</span>
                </a></li>
        </ul>
    </div>
</div>
