<div class="wrapper1" [ngClass]="{collapse1:status===true}">
    <div class="sidebar1">
        <ul>
            <li><a routerLink="/main-page/display-area/all">
                    <i class="bi bi-house-door-fill"></i>
                    <span class="title1">All</span>
                </a></li>
            <li><a routerLink="/main-page/display-area/academic">
                    <i class="bi bi-journal-bookmark"></i>
                    <span class="title1">Academic</span>
            </a></li>
            <li><a routerLink="/main-page/display-area/internship">
                    <i class="bi bi-pc-display"></i>
                    <span class="title1">Internship</span>
                </a></li>
            <li><a routerLink="/main-page/display-area/job">
                    <i class="bi bi-tools"></i>
                    <span class="title1">Job Opportunity</span>
                </a></li>
            <li><a routerLink="/main-page/display-area/higherEducation">
                    <i class="bi bi-mortarboard-fill"></i>
                    <span class="title1">Higher Education</span>
                </a></li>
            <li><a routerLink="/main-page/display-area/societies">
                    <i class="bi bi-music-note-list"></i>
                    <span class="title1">Student Societies</span>
                </a></li>
            <li><a routerLink="/main-page/display-area/hackathons">
                    <i class="bi bi-laptop-fill"></i>
                    <span class="title1">Hackathons</span>
                </a></li>
            <li><a routerLink="/main-page/display-area/sports">
                    <i class="bi bi-controller"></i>
                    <span class="title1">Sports</span>
                </a></li>
        </ul>
    </div>
</div>
