<nav class="navbar navbar-light">
    
    <div class="container-fluid">
        <div class="d-flex">
            <div class="btn btn-light" (click)="sidebar_toggle()">
                <i class="bi bi-list"></i>
            </div>
            <a class="navbar-brand text-light ms-4"><b>KUORA</b></a>
        </div>
        
        <form class="d-flex search">
            <input class="form-control me-2" placeholder="Search" aria-label="Search">
            <div class="btn btn-success">
                <i class="bi bi-search"></i>
            </div>
        </form>
    </div>
</nav>

<div class="dropdown setting  float-end m-2">
    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        <i class="bi bi-gear-fill"></i>
    </button>
    <ul class="dropdown-menu menu" aria-labelledby="dropdownMenuButton1">
        <li><a routerLink="/main-page/profile-page/Aayushi" class="dropdown-item">Profile</a></li>
        <li><a routerLink="/main-page/verification-portal" class="dropdown-item">Verification Portal</a></li>
        <li><a class="dropdown-item">Logout</a></li>
    </ul>
</div>

