<nav class="navbar sticky-top navbar-light">
    <div class="container-fluid">
        <div class="d-flex">
            <div class="btn btn-light" (click)="sidebar_toggle()">
                <i class="bi bi-list"></i>
            </div>
            <a class="navbar-brand text-light ms-4"><b>KUORA</b></a>
        </div>
        <form class="d-flex">
            <input class="form-control me-2" placeholder="Search" aria-label="Search">
            <div class="btn btn-success">
                <i class="bi bi-search"></i>
            </div>
            <div class="btn btn-success ms-2">
              <i class="bi bi-gear-fill"></i>
            </div>

        </form>
    </div>
</nav>
