/**
 * @Author: Ayush Ranjan
 * @Date:   2022-04-03 21:39:50
 * @Last Modified by:   Ayush Ranjan
 * @Last Modified time: 2022-04-20 23:12:37
 */
form {
  margin-top: -50px;

  height: 80vh;
  font-size: 13px;
}

label {
  color: rgb(0, 11, 136);
}
.login-page {
  font-size: 13px;
  margin-top: 5px;
  color: rgb(0, 11, 136);
}
@media screen and (max-width: 520px) {
  form {
    height: 100vh;
  }
}
