<div class="card shadow-sm mt-3">
  <div class="card-body bg-white d-flex">
    <img src="../../../../assets/img_avatar.png" class="rounded-circle" height="6%" width="6%" alt="">
    <div class="d-block ms-3">
      <h4>{{element.title}}</h4>
      <div class="text-muted fs-12">{{element.creator_email}}</div>
      <div class="text-muted fs-12">{{element.tag}}</div>
    </div>

  </div>
  <div class="card-body">
   <!-- <h5 class="card-title">{{element.article}}</h5> -->
    <p class="card-text">{{element.article}}</p>
  </div>
  <div class="card-footer d-flex bg-white">

    <div class="btn btn-white d-flex">
      <i class="bi bi-hand-thumbs-up"></i>
      <h6 class="ms-2"> Like 29*</h6>
    </div>
    <div class="btn btn-white d-flex">
      <i class="bi bi-card-list"></i>
      <h6 class="ms-2"> Comment 4*</h6>
    </div>
  </div>
</div>
