<div class="card text-center mt-3">
  <h5 class="card-header bg-primary text-white">
    {{element.title}}
  </h5>
  <div class="card-body">
<!--    <h5 class="card-title">{{element.article}}</h5>-->
    <p class="card-text">{{element.article}}</p>
  </div>
  <div class="card-footer text-muted ">
    <div class="float-start">{{element.creator_email}}</div>
    <div class="btn btn-light float-end">
      <i class="bi bi-hand-thumbs-up"></i>
    </div>
    <div class="btn btn-light float-end">
      <i class="bi bi-card-list"></i>
    </div>
  </div>
</div>
