<div class="container-fluid mt-5">
    <div class="row mx-2">
        <div class="col-md-6 mx-auto border p-5">
            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <!-- <div formGroupName="userData"> -->
                    <div class="form-group my-3">
                        <label 
                            for="username"
                            class="form-label">Username</label>
                        <input 
                            type="text"
                            class="form-control"
                            formControlName="username"
                            id="username"
                            placeholder="Enter your fullname"
                            [ngClass]="{'is-invalid' : signupForm.controls['username'].touched === true && signupForm.controls['username'].valid === false}">
                        <div class="invalid-feedback">Username cannot be empty</div>
                    </div>
                    <span class="form-label d-block">Register as: </span>
                    <div *ngFor="let userProfile of userProfiles" class="form-check form-check-inline">
                        <label (change)="updateEmailInputType(this)">
                            <input 
                                type="radio" 
                                [value]="userProfile"
                                formControlName="profile"> {{ userProfile }}
                        </label>
                    </div>
                    <div class="form-group mt-3">
                        <label 
                            for="email"
                            class="form-label">Email</label>
                        <div class="input-group">
                            <input 
                                [type]="emailInputType"
                                class="form-control"
                                formControlName="email"
                                id="email"
                                placeholder="Enter your official KIIT email Id"
                                aria-describedby="basic-addon2"
                                [ngClass]="{'is-invalid' : signupForm.controls['email'].touched === true && signupForm.controls['email'].valid === false}">
                        <span class="input-group-text" id="basic-addon2">@kiit.ac.in</span>
                        <div class="invalid-feedback">Enter a valid email id.</div>
                        </div>
                    </div>
                <!-- </div> -->
                <div class="form-group mt-3">
                    <label 
                        for="password"
                        class="form-label">Password</label>
                    <input 
                        type="password"
                        class="form-control"
                        formControlName="password"
                        id="password"
                        [ngClass]="{'is-invalid' : signupForm.controls['password'].touched === true && signupForm.controls['password'].valid === false}">
                    <div class="invalid-feedback">Enter a valid password.</div>
                </div>
                <div class="form-group mt-3">
                    <label 
                        for="confirm-password"
                        class="form-label">Confirm Password</label>
                    <input 
                        type="password"
                        class="form-control"
                        formControlName="confirm-password"
                        id="confirm-password">
                </div>
                <div class="form-group mt-3">
                    <label 
                        for="description"
                        class="form-label">Write something about yourself</label>
                        <textarea 
                            class="form-control" 
                            id="description" 
                            rows="2"
                            formControlName="description"></textarea>
                </div>
                <button class="btn btn-primary my-3" type="submit" [disabled]="!signupForm.valid">Submit</button>
            </form>
    </div>
    <div class="col-md-6">
        <h1 class="mx-5">Koura</h1>
        <img src="https://media.istockphoto.com/vectors/student-education-concept-vector-flat-person-illustration-female-and-vector-id1224778014?k=20&m=1224778014&s=170667a&w=0&h=ju5P-_3tzHfUINb920nBU4PSTy_jxfg2ouVxNzd8xGo=" alt="">
    </div>
</div>