<div class="container-fluid overflow-hide m-4 p-4 mx-auto">
    <div class="col-md-12">
        <button class="btn btn-danger d-inline m-3">Back</button>
        <button class="btn btn-primary d-inline m-3" (click)="editableMode()">Edit Profile</button>
    </div>

    <div class="row border p-4 m-4">
        <div class="col-md-6">
            <img src="{{userDetails.pic}}" class="img-fluid profile-picture" alt="Responsive image">
        </div>
        <div class="col-md-6 mt-3">
            <form>
                Name : <input
                        type="text"
                        class="form-control my-2"
                        [disabled]="!isEditableMode"
                        value="{{ userDetails.name }}"
                        placeholder="Name">

                Email : <input
                        type="email"
                        class="form-control my-2"
                        [disabled]="!isEditableMode"
                        value="{{ userDetails.email }}">

                Password : <input
                        type="password"
                        class="form-control my-2"
                        [disabled]="!isEditableMode"
                        value=" ********* ">

                Profile : <input
                        type="text"
                        disabled
                        class="form-control my-2"
                        value="{{ userDetails.signupas }}"
                        placeholder="Profile">

                Verification Status : <input
                        type="text"
                        disabled
                        class="form-control my-2"
                        value="{{ userDetails.verified }}">

                Description : <textarea
                        row="2"
                        [disabled]="!isEditableMode"
                        class="form-control my-2">{{ userDetails.bio}}</textarea>

                <button
                    class="btn btn-primary d-inline m-3"
                    (click)="onSubmit()"
                    ng-if="!isEditableMode">Save</button>
            </form>
        </div>
    </div>
</div>
