/**
 * @Author: Ayush Ranjan
 * @Date:   2022-04-03 21:39:50
 * @Last Modified by:   Ayush Ranjan
 * @Last Modified time: 2022-04-18 16:41:02
 */
.profile-picture {
  height: 15em;
  width: 15em;
  border: 3px solid white;
  border-radius: 8em;
}

.container-fluid {
  height: 50vh;
  width: 50vw;
}
